<header class="header">
  <div class="container">
    <nav class="navigation">
      <a
        class="logo header__logo"
        href="./index.html"
        aria-label="логотип хелен"
      >
        <span class="logo__text-up">Hell</span>
        <svg class="logo__icon" width="21" height="30">
          <use href="./images/svg/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__text-up">EN</span>
        <span class="logo__text-d">
          <span class="logo__text-d--accent">Адский</span> английский</span
        >
      </a>
    </nav>
  </div>
</header>
